**/.project
**/.classpath
**/.settings
**/target/
/.metadata/
**/uid_pos.properties
.mvn/
/comerzzia-bricodepot-inStoreEngine-web-cliente/*.factorypath
/comerzzia-bricodepot-inStoreEngine-web/*.factorypath
