<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comerzzia.instoreengine.herbnav.persistencia.trabajos.articulosbalanza.ArticulosBalanzaMapper">

<resultMap id="ResultMap" type="com.comerzzia.instoreengine.herbnav.persistencia.trabajos.articulosbalanza.ArticuloBalanza">
    <result column="codart" jdbcType="VARCHAR" property="codArt" />
    <result column="desart" jdbcType="VARCHAR" property="desArt" />
    <result column="balanza_tipo_art" jdbcType="VARCHAR" property="tipo" />
    <result column="precio_total" jdbcType="DECIMAL" property="precioTotal" />
    <result column="codseccion" jdbcType="VARCHAR" property="codSeccion" />
    <result column="observaciones" jdbcType="VARCHAR" property="observaciones" />
    <result column="valor" jdbcType="VARCHAR" property="diasCaducidad" />
    <result column="extraObservaciones" jdbcType="VARCHAR" property="extraObservaciones" />
  </resultMap>
  
  <select id="selectArticulosBalanza" parameterType="java.lang.String" resultMap="ResultMap">
  SELECT art.codart, art.desart, art.balanza_tipo_art, tar.precio_total, art.codseccion, art.observaciones, enl.VALOR, obv.VALOR as extraObservaciones
FROM d_articulos_tbl art
INNER JOIN d_tarifas_det_tbl tar ON art.CODART = tar.CODART AND tar.version = (SELECT MAX(version) FROM d_tarifas_det_tbl WHERE CODART = art.CODART)
LEFT JOIN d_clases_obj_par_valores_tbl enl ON art.CODART = enl.ID_OBJETO AND enl.ID_CLASE = 'D_ARTICULOS_TBL.CODART' AND enl.PARAMETRO = 'DIAS_CADUCIDAD'
LEFT JOIN d_clases_obj_par_valores_tbl obv ON art.CODART = obv.ID_OBJETO AND obv.ID_CLASE = 'D_ARTICULOS_TBL.CODART' AND obv.PARAMETRO = 'OBSERVACIONES'
where art.UID_ACTIVIDAD = #{uid_actividad, jdbcType=VARCHAR} and art.balanza_seccion = 'CA'
  </select>
  
</mapper>