<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comerzzia.bricodepot.inStoreEngine.persistence.cajas.movimientos.CajasMovimientosMapper">
  <resultMap id="BaseResultMap" type="com.comerzzia.bricodepot.inStoreEngine.persistence.cajas.movimientos.CajasMovimientosBean">
    <result column="uid_actividad" jdbcType="VARCHAR" property="uidActividad" />
    <result column="codcaja_origen" jdbcType="VARCHAR" property="codCajaOrigen" />
    <result column="codconcepto_mov_origen" jdbcType="VARCHAR" property="codConceptoMovOrigen" />
    <result column="codcaja_destino" jdbcType="VARCHAR" property="codCajaDestino" />
    <result column="codconcepto_mov_destino" jdbcType="VARCHAR" property="codConceptoMovDestino" />
    <result column="signo_destino" jdbcType="VARCHAR" property="signoDestino" />
  </resultMap>

	<select id="selectCajasMovimientos" resultMap="BaseResultMap">
		SELECT uid_actividad, codconcepto_mov_origen, codcaja_origen,
			codcaja_destino, codconcepto_mov_destino, signo_destino 
			FROM x_cajas_movimientos_tbl
			WHERE
				uid_actividad = #{uidActividad,jdbcType=VARCHAR} and
				codconcepto_mov_origen = #{codConceptoMovOrigen,jdbcType=VARCHAR} and
				codcaja_origen = #{codCajaOrigen,jdbcType=VARCHAR}
	</select>
</mapper>